.sider{
    min-height: 100vh;
    color: white;
}
.sidediv{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.header{
    background-color: white;
    text-align: center;
    padding: 0;
}
.content{
    margin: 24px 16px 0;
    max-height: 800px;
    overflow-y: auto;
}
.inner{
    padding: 24px;
    background: white;
    min-height: 360px;
}
.footer{
    text-align: center;
}